<html>
<body>
{{ user.name }} -- Lebensenergie: {{ user.energy }}/100 -- Geld: {{ user.money }}
<hr>
<p id="roomDescription">
    ... Was ist passiert? Wo bin ich? Ich kann mich nur erinnern, wie der komische Barkeeper noch sagte: "{{ user.name }}, das wird nicht gutgehen. So erwischen die Dich bestimmt!"
</p>
<p>
    {{ description }}
</p>
<form method="post">
    <input type="text" id="command" name="command" />
    <input type="submit" value="Abschicken">
</form>
<p>
    {% if subtemplate == "umsehen" %}
        {{ lookAroundDescription }}
    {% elseif subtemplate == "error" %}
        <font color="#8b0000">Befehl nicht gefunden.</font> Verfügbare Befehle: "umsehen"
    {% endif %}
</p>
</body>
</html>