<html>
<body>
<h1>Willkommen zum ultimativen Textadventure</h1>
<p>Bitte gib Deinen Namen ein:</p>
<p><form action="/login" method="post"><input name="name" id="name"><input type="submit" value="Abschicken"></form></p>
</body>
</html>